/* Browser reset */
* {
    box-sizing: border-box;
    margin: 0;
}

html {
  overflow-y: scroll; 
}

body {
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.5;
}

body#homepage {
	background: #fffceb;
}

a {
    color: #4c65b0;
    text-decoration: none;
	outline: 0;
}

main a {
    text-decoration: underline;
}

nav a {
    color: #fff;
	font-weight: 500;
}

p {
    font-weight: 400;
    color: #646464;
}

small {
	font-size: 0.9rem;
}

.yellowtext {
	color: #ad9546;
}

.whitetext {
	color: #fff;
}

.underline {
	text-decoration: underline;
	text-underline-offset: 5px;
}

section ul {
	padding: 0 0 0 15px;
	color: #646464;
	font-size: 1.03em;
}

.regions, section.regions ul  {
	font-size: 1.1rem;
	font-family: 'Roboto', sans-serif;
}

.regions h3 {
	font-weight: 500;
}


h1, h2, h3, h4, h5 {
	color: #454e5b;
}

h1 {
    font-size: 2.3em;
    margin-bottom: 0.2em;
    font-weight: 700;
}

h1.light {
	font-weight: 400;
	margin: 0;
	line-height: 1.3;
	font-size: 2em;
}

h2 {
	font-size: 1.7em;
}

h3 {
    font-size: 1.2em;
    margin-bottom: 0.2em;
    font-weight: 400;
}

h4 {
	font-size: 1.05em;
	font-weight: 500;
}

.title {
    font-weight: 700;
    color: #454e5b;
    font-size: 1.2em !important;
}

.main-content p {
    font-size: 1.03em;
}

#logo {
    font-family: 'Fredoka', sans-serif;
    color: #fff;
    font-weight: 500;
    font-size: 1.7em;
    margin-bottom: 10px;
	float: left;
}
.logo {
	width: 200px;
	float: left;
}

.logo img { 
	max-width: 100%;
}

header {
    display: flex;
    display: -webkit-flex; /* Older browser support */
    justify-content: space-between;
    align-items: center;
    padding: 1em 11%;
	border-bottom: 2px solid #ccc;
	background: #000;
	min-height: 120px;
}

nav {
	float: right;
	z-index: 50;
	position: relative;
}

.navitem {
    margin: 0 1.2em;
    padding: 0.5em 0;
}

.navitem:first-child {
    margin-left:0;
}

.navitem:last-child {
    margin-right: 0;
}

a.navitem:hover, a.navitem:active, .active {
	border-bottom: 3px solid #fff;
}

/* Mobile nav */
.mobilenavoverlay {
	width: 0;
	position: fixed;
	height: 100%;
	z-index: 6000;
	background: #000;
	top: 0;
	transition: 0.8s;
	-moz-transition: 0.8s;
	-webkit-transition: 0.8s;
	color: #fff;
    right: 0;
}

#mobilenav {
	  position: relative;
  top: 0;
  width: 100%;
  text-align: left;
  padding-left: 20px;
}

#mobilenav a {
	display: block; 
	width: 100%;
	padding: 1em 0.5em 1em 0.5em;
	text-align: left;
    color: #fff;
    font-weight: 500;
	 transition: 0.3s;
}


/* Close button for mobile nav */
#mobilenav a.closebtn {
	position: absolute;
	top: 0;
	left: 78%;
	font-size: 2.5rem;
	padding: 0 0.5em;
}

/* Hide the mobile nav toggle icon */
nav a.icon {
	display: none;
    font-size: 1.2em;
}

/* Hamburger menu */
.nav a.icon {
	background: #a43651;
	display: block;
	position: absolute;
	left: 0;
	color: #000;
	width: 100%;
	z-index: 4000;
}

.container {
    width: 100%;
}

.breadcrumb {
    position: relative;
    display: block;
    width: 100%;
    background: #faf5d7;
    background-position: bottom;
    color: #000;
    font-weight: 500;
    padding: 0.5em 11%;
    font-size: 1.4em;
	text-transform: uppercase;
}

.breadcrumb h1 {
	font-size: 1.4rem;
	color: #000;
	font-weight: 500;
	margin-bottom: 0;
}

.breadcrumbimage {
    position: relative;
    float: right;
    margin-top: -50px;
}

.breadcrumbimage img {
    max-width: 600px;
    width: 80%;
    float: right;
}

.main {
    padding: 1em 11%;
}

.main#home {
	position: relative;
    display: flex;
    display: -webkit-flex; /* Older browser support */
    align-items: center;
    justify-content: space-between;
    padding: 1em 11%;
	margin-bottom: 40px;
}

.main-home {
    margin-right: 3em;
    width: 50%;

}

.main-content#home {
    width: 100%;
    margin-top: 30px;
    margin-right: 2em;
}

.main-content#contact {
	margin-top: 10px;
}

.main-content {
    width: 100%;
    margin-top: 30px;
}

.main-content#websites {
	clear: both;
}

.main-image {
    
}

.main-image img {
    max-width: 100%;
    width: 500px;
}

.contact-cont {
	display: flex;
	width: 100%;
}

.contact-left {	
	display: block;
	width: 50%;
	padding: 15px 3%;
	background: #fff;
	margin-right: 2%;
	border: 2px solid #e2e2e2;
}

.contact-right {	
	display: block;
	width: 50%;
	padding: 15px 3%;
	border: none;
	margin-left: 0%;
	background: #faf5d785;
}

button.cta {
    background: #ffdd6f;
    color: #000;
	font-family: 'Ubuntu', sans-serif;
    font-size: 1em;
    font-weight: bold;
    border: 0;
    padding: 15px 35px;
    margin-top: 30px;
	cursor: pointer;
	border: 2px solid #5e5e5e;
}

button.cta:hover {
	background: #000;
	color: #fff;
	border: 2px solid #454e5b;
}

button.cta2 {
	background: #fff;
    color: #000;
	font-family: 'Ubuntu', sans-serif;
    font-size: 1em;
    font-weight: bold;
    border: 2px solid #5e5e5e;
    padding: 10px 35px;
    margin-top: 20px;
	cursor: pointer;
}

button.cta2:hover {
	background: #000;
	color: #fff;
	border: 2px solid #454e5b;
}


footer {
    margin-top: 2em;
    padding: 1.5em 11%;
    color: #1e1e1e;
    clear: both;
	position: relative;
	min-height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	border-top: 2px solid #ccc;
}

.footerbox {
	width: 100%;
	display: block;
	font-size: 0.9rem;
}

#footersmall {
	font-size: 14px;
	color: #69a1ae;
}

#footersmall a {
	color: #69a1ae;
}

#copy1 {
    float: left;
}

#copy2 {
    float: right;
}

.trademe {
	display: block;
}


table {
	display: table
}

.ourprocessbox {
	width: 100%;
	display: flex;
	flex-direction: row;
	column-gap: 7%;
}

.process {
	width: 50%;
}

.pricecolumns {
  float: left;
  width: 50%;
  padding: 8px;
}

.price {
  list-style-type: none;
  border: 1px solid #c4c4c4;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.price:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.price .header {
  background-color: #000;
  color: #fff;
  font-size: 1.3rem;
}

.price .header2 {
  background-color: #ffdd6f;
  color: #000;
  font-size: 1.3rem;
}

.price li {
  border-bottom: 1px solid #eee;
  padding: 5px;
  text-align: center;
}

.price .grey {
  background-color: #eee;
  font-size: 2rem;
  font-weight: 500;
}

.price .greybg {
	background-color: #eee;
}

.templatesbox {
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	column-gap: 2%;
	row-gap: 30px;
	background: #f1f1f1;
	padding-top: 20px;
	padding-bottom: 20px;
}

.templatesbox img {
	max-width: 100%;
}

.templateimg {
	width: 22%;
	cursor: pointer;
}

/* Lightbox */

#modalImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#modalImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 60; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.faq-boxborder {
	border: 1px solid #ccc;
	padding: 20px;
	margin-bottom: 10px;
}

/* Review button */
.readreviews-btn {
 --color: #ad9546;
 position: relative;
 z-index: 1;
 display: inline-block;
 margin-left: 7px;
}

.readreviews-btn::before {
 content: '';
 position: absolute;
 width: 30px;
 height: 30px;
 background: transparent;
 top: -7px;
 left: -7px;
 z-index: -5;
 border-top: 3px solid var(--color);
 border-left: 3px solid var(--color);
 transition: 0.5s;
}

.readreviews-btn::after {
 content: '';
 position: absolute;
 width: 30px;
 height: 30px;
 background: transparent;
 bottom: -7px;
 right: -7px;
 z-index: -5;
 border-right: 3px solid var(--color);
 border-bottom: 3px solid var(--color);
 transition: 0.5s;
}


.readreviews-btn .rbutton {
 padding: 0.7em 2em;
 font-size: 1rem;
 background: #000;
 color: #fff;
 border: none;
 cursor: pointer;
 font-family: inherit;
}

/* Auckland */

h1.breadcrumbauck {
	font-size: 2rem;
	color: #000;
}

.breadcrumb#auck {
	background: #faf5d7;
}

.auckland-main {
	padding: 0;
}

.auckland-main h2 {
	color: #333;
}

.auckland-main h3 {
	color: #998d4d;
}

.auckland-sec0 {
	padding: 1em 11%;
	background: #faf5d7;
}

.auckland-sec1 {
	padding: 1.5em 11%;
	background: #fff;
}

.auckland-sec2 {
	padding: 1.5em 11%;
	background: #fff;
	line-height: 1.7;
	font-size: 1rem;
}

.auckland-sec3 {
	padding: 1.5em 11%;
	background: #faf5d7;
	background: #e6e6e6;
	color: #000;
	line-height: 1.7;
	font-size: 1rem;
}

.auckland-sec3 a, .auckland-sec3 a:hover {
	color: #000;
}

.auckland-flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2% 0;
}


.auckland-flex img {
	max-width: 100%;
}

.auckland-flex > div {
	padding-right: 5%;
}

.auckland-flex > div:last-child {
	padding-right: 0;
}

.auckland-process-bar {
	width: 100%;
	text-align: center;
	background: #000;
	padding: 20px 11%;
	font-size: 1.3rem;
	font-weight: 500;
	color: #000;
}

.auckland-process-bar a, .auckland-process-bar a:hover {
	color: #fff;
	text-decoration: none;
}

footer#auck {
	margin-top: 0;
	border-top: 0;
	padding: 10px 11%;
	min-height: 50px;
}

.websitecosts h1, .websitecosts h2, .websitecosts h3 {
	color: #1d1d1d;
}

#auckland strong, #wellington strong, #christchurch strong, #hamilton strong, #strongna strong{
	font-weight: 400;
}

@media (max-width: 980px) {
	.auckland-flex {
		flex-direction: column;
	}
	
	.auckland-sec2 p {
		margin-bottom: 25px;
	}
	
	.auckland-flex > div {
	padding-right: 0%;
	}
	
}

/* Media Queries */

@media (max-width: 260px) {
	#logo {
		font-size: 1.2em;
	}
}

@media (max-width: 300px) {
	#logo {
		font-size: 1.4em;
	}
	
	header {
		padding: 1em 6%;
	}
}

@media (max-width: 400px) {
	.pricecolumns {
		float: none;
		width: 100%;
	}
	
	.main-content#websites {
		margin-top: 0;
	}
}

@media (max-width: 700px) {

    .main {
        flex-direction: column;
    }

    .main-content#home {
        margin: 0;
    }

    .main-home {
        width: 100%;
        margin: 0;
    }
	
	.main#home {
		text-align: center;
		margin-top: 20px;
	}

    .main-image {
       width: 100%;
       margin-top: 50px;
    }

    .breadcrumbimage {
        margin-bottom: 30px;
    }
	
	.homecols {
		flex-direction: column;
	}

    #copy1, #copy2 {
        float: none;
        text-align: center;
    }
	
	.servicingareas {
		text-align: center;
	}
	
	tr {
	display: flex;
	flex-wrap: wrap;
	}

	.contact-left, .contact-right {
		width: 100%;
		margin: 20px 0;
		padding: 15px 5%;
	}
	
	.contact-cont {
		flex-direction: column-reverse;
	}
	
	.ourprocessbox, .templatesbox {
		flex-direction: column;
	}
	
	.templatesbox {
		background: #fff;
	}
	
	.templatesbox img {
		border: 1px solid #e7e7e7;
	}
	
	.templatesbox img#modalImg7, .templatesbox img#modalImg8 {
		border: 1px solid transparent !important;
	}
	
	.process, .templateimg {width: 100%;}
	
	.bloggrid {
		grid-template-columns: 1fr 1fr!important;
		margin-bottom: 80px !important;
	}
	
	.readreviews-btn .rbutton {
		font-size: 0.9rem;
	}
	 
}

@media (min-width: 710px) {
    .main-content#home {
        width: 50%;
		float: left;
    }
	
	.main-image {
		width: 50%;
		float: right;
	}
	
	.main-image img {
		float: right;
	}

  	.mobilenavoverlay {
		max-width: 350px;
	}

}

@media (max-width: 1000px) {
	
	.breadcrumb h1 {
		font-size: 1rem !important;
	}
	
	h1 {
		font-size: 1.9em !important;
	}
	
	h1.breadcrumbtext {
		font-size: 1.4rem !important;
	}
	
	h1.breadcrumbauck {
		font-size: 1rem !important;
	}
    
    nav a.icon {
        display: block;
    }
	
	a.navitem:hover, a.navitem:active {
    border-bottom: 0;
}

    #desktopnav {
        display: none;
    }
	
	footer#home {
		margin-top: 6em;
	}
	
	button.cta {
		padding: 15px 20px;
	}
	
	button.cta2 {
		padding: 10px 20px;
	}


}

@media (min-width: 1001px) {
	.mobilenavoverlay {
        display: none;
    }
	
	footer#home {
		margin-top: 3em;
	}
	
}

